


<!-- Main Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light " id="navMain">
  <div class="container navigation header_right wow fadeInLeft animated animated" data-wow-delay=".5s"
      style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" >
              <li class="nav-item active"><a class="nav-link " href="/" style="text-decoration: none;color: red;"> HOME <span
                          class="sr-only">(current)</span></a></li>
              <li class="nav-item" style="text-decoration: none;"><a class="nav-link " href="/" data-toggle="modal" data-target="#about" style="text-decoration: none;color: red;">ABOUT</a>
              </li>
              <li class="nav-item"><a class="nav-link " href="/#category" style="text-decoration: none;color: red;">CATEGORY</a></li>
              <li class="nav-item"><a class="nav-link " href="/#location" style="text-decoration: none;color: red;">LOCATION</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- End of main navbar -->

<!-- About Modal -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title about" style="width:30px">
                  TefPics</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body reg">
              <div class="container row">
                  <p class="abt">
                      Tribal Gallery an applicatiuon for quality art images.
                      <br>
                  <p class="abt">
                      Search for art on interest based on various categories and view the pictures by
                      location.
                  </p>
                  </p>
                  <div class="">

                      <img src="" alt="" class="splash">
                  </div>
                  <hr>
                  <blockquote class="text-muted abt">
                      ~Of course, there will always be those who look only at technique, who ask ‘how’, while others of a more curious nature
                      will ask ‘why’. Personally, I have always preferred inspiration to information.
                  </blockquote>
              </div>
          </div>
      </div>
  </div>
</div>
